.Empty_state_patient{
    height: 100%;
    position: relative;
}
.Empty_state_patient .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
}
.Empty_state_patient .flex_box{
    /*margin-top: 3rem;
    margin-bottom: 2rem;*/
}
.Empty_state_patient .flex_box h1{
    color: #2E2C34;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 42px;
    /*margin-top: 4.188rem;*/
    margin-bottom: 0;
}
.Empty_state_patient .flex_boxy p{
    font-weight: 400;
    font-size: 1rem;
    color: #89878D;
    line-height: 21px;
    padding: 0 2rem;
    margin-top: 0.5rem;
}
.Empty_state_patient .flex_box button.btn-primary{
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: .25rem;
    background-color: #5542F6;
    border-color: #5542F6;
    padding: .5rem 2rem;
    margin-top: 2.063rem;
    width: 9.875rem;
}
.main_content{
    height: 100vh;
    overflow-y: hidden;
}
