@media (min-width: 576px){
.treo-31 .modal-dialog {
    max-width: 19.875rem !important;
    margin: 1.75rem auto;
}
}

.treo-31 .modal-dialog .modal-content{
	text-align: center;
	border-radius: 1.375rem;
	padding: 2rem 0;
}
.treo-31 .modal-dialog .modal-content .modal-body .wait_connecting img{
	text-align: center;
}
.treo-31 .modal-dialog .modal-content .modal-body .wait_connecting h3{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	color: #39394D;
	line-height: 33px;
	margin-top: 1.375rem;
}
.treo-31 .modal-dialog .modal-content .modal-body .wait_connecting p{
	text-align: center;
	font-size: 1.125rem;
	font-weight: 400;
	color: #89878D;
	line-height: 24px;
	margin-top: 1.375rem;
}
.treo-31 .modal-dialog .modal-content .modal-body .wait_connecting button.btn-primary{
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: .25rem;
    background-color: #35b6b4;
    border-color: #35b6b4;
    padding: .5rem 3rem .5rem;
    margin-top: 2.5rem;
}

/* Layout Practice Start*/
.main-container{
	margin: .5rem;
}
.flex-container{
	margin-block: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;

}
.flex-container > *{
	border: 1px solid #000;
	padding: 1rem;
	/* flex: 1 1 200px; */
	flex: 1;
}
.grid-container{
	margin-block: 1rem;
	display: grid;
	gap: .5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.grid-container > *{
	border: 1px solid #000;
	padding: 1rem;
}
.main-wrap{
	border: 3px solid lightgreen;
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.header-wrap{
	padding: 1rem;
	background-color: blue;
	color: #fff;
	text-align: center;
}
.header-wrap h2{
	font-size: 2.5rem;
}
.footer-wrap{
	padding: 1rem;
	background-color: blue;
	color: #fff;
	text-align: center;
}
.box-wrap{
	padding: 2rem 1rem;
	background:#000;
	text-align: center;
	color: #fff;
}


/* Layout Practice End*/