.treo-33{
	height: 100%;
	width: 100%;
}
.treo-33 .treo_video_call .inner_video_call .video_text{
	background-color: #fff;
	text-align: center;
	padding: 0 2rem;
}
.treo-33 .treo_video_call .inner_video_call .main_video_text{
	height: 100vh;
	background-color: #fff;
}
.treo-33 .overflow-x-h{
	overflow-x: hidden;
}
.treo-33 .treo_video_call .inner_video_call .video_text button.btn-secondary{
    color: #5542F6;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: .25rem;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    border-color: #5542F6;
    padding: .5rem 3rem .5rem 3rem;
    margin-top: 2.5rem;
}

.treo-33 .treo_video_call .inner_video_call .video_text p{
	color: #2E2C34;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 40px;
	margin-top: 1.946rem;
}
.treo-33  button.btn-primary{
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: .25rem;
    background-color: #5542F6;
    border-color: #5542F6;
    padding: .5rem 3rem .5rem 3rem;
    margin-top: 2.5rem;
}