.treo-31-card {
    width: 100%;
    
}
.treo-31-card .cards_cp{
  background-color: #fff;
  box-shadow: 0px 3px 22px #00000047;
  border: 1px solid #DFDFDF;
  opacity: 1;
  width: 21.875rem;
  height: 100%;
  padding: 0.938rem 0;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}
.treo-31-card .cards_cp .top_cp{
  display: flex;
  justify-content: flex-end;
  column-gap: 1.063rem;
  align-items: center;
  cursor: pointer;
}
.cards_cp_details .cp_name h3{
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 22px;
	color: var(--button-color);
	text-decoration: underline;
	margin-bottom: 0;
}
.cards_cp_details .cp_name p{
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 22px;
	color: #89878D;
}
.treo-31-card .cards_cp .phone_mail span{
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 22px;
	color: #89878D;
}
.treo-31-card .cards_cp .phone_mail{
   margin-top: .5rem;
   padding: 0 0.938rem;
}
.treo-31-card .top_cp{
	padding: 0 0.938rem;
}
.treo-31-card .cards_cp_details{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	margin-bottom: .8rem;
	padding: 0 0.938rem;
}
.line_border{
	border-top: 1px solid #E0E0E0;
	margin: 1.281rem 0;
}
.treo-31-card .in_clinic {
    padding: 0 0.938rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.treo-31-card .in_clinic .clinic_one span{
   font-weight: 0.875rem;
   color: #89878D;
   margin-bottom: 0.25rem;
}
.treo-31-card .in_clinic .clinic_one span.inca{
   font-weight: 0.875rem;
   color: #2E2C34;
   font-weight: 700;
   line-height: 22px;
   margin-bottom: 0.438rem;
   margin-left: .5rem;
}
.treo-31-card .in_clinic .clinic_one p{
   font-weight: 0.875rem;
   color: #2E2C34;
   font-weight: 500;
   line-height: 22px;
   margin-left: 1.875rem;
}
.treo-31-card .in_clinic .clinic_two{
	margin-top: .3rem;
}
.treo-31-card .in_clinic .btn-secondary{
	background-color: transparent;
	border: 1px solid var(--button-color);
	color: var(--button-color);
	padding: .3rem .7rem;
	border-radius: 0.25rem;
	font-weight: 600;
	margin-bottom: .8rem;
}
.treo-31-card .in_clinic .btn-secondary:hover{
	background-color: transparent;
	border: 1px solid var(--button-color);
	color: var(--button-color);
}
.treo-31-card .in_clinic .clinic_one{
	width: 100%;
}
.treo-31-card .last_box_31_card{
	padding: 0.938rem 2rem 0.938rem 0.938rem;
	background-color: #EFEDF9;
	display: flex;
	align-items: center;
	gap: 0.688rem;
	border-top: 1px solid #E0E0E0;
	/*border-bottom: 1px solid #E0E0E0;*/
}
.treo-31-card .last_box_31_card p{
	font-size: .75rem;
	font-weight: 500;
	color: var(--dark-text);
}
.treo-31-card .payment_btn .btn-primary{
	background-color: var(--button-color);
	padding: .5rem 2rem;
	color: #fff;
	border: 1px solid var(--button-color);
	border-radius: 0.25rem;
}
.treo-31-card .payment_btn{
	padding: 0.938rem 0.938rem 0;
}
.treo-31-card .cards_cp::after{
	content: '';
    position: absolute;
    left: -17px;
    top: 8%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    clear: both;
    transform: rotate(90deg);
}